.navbar-default {
     background-color: transparent; 
     border-color: transparent;
     color:white;
     margin: 15px 0;
}
nav ul li a:link, nav ul li a:visited{
    width:100%;
    text-decoration:none;
    color:white !important;
    text-align:center !important;

    } 

.m-menu:hover a{
    color: #e61939 !important;
}      

nav ul li{
	width:10%;
}
.menu-container{
	width: calc(100% - 155px);
	float:left;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #e61939;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 1px;
}
.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 42px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.title-hall{
	color:white;
	margin-bottom:2%;
	margin-left: 15px;
}

.fc-event, .fc-event:hover, .ui-widget .fc-event {
    color: black !important;
    text-decoration: none;
}

.fc-event, .fc-event:visited {
    border: 1px solid #e61939 !important;
    background-color: #e61939 !important;
}

.cont-exitint2 div span {
    color: black !important;
    font-size: 1em !important;
}

.client-form{
	margin-top:20%;
	color:white;
	font-size:1em;
	text-align:center;
}

.date-congrats{
	font-size:2em;
	margin-top:3%;
}

.title-hall{
	margin-left:15px;
}
@media screen and (max-width: 1150px) {
	nav ul li{
		width:12%;
	}
}
@media screen and (max-width:960px){
	nav ul li{
		width:13%;
	}
}
@media screen and (max-width:800px){
	nav ul {
    	width: 100%;
	}
	nav ul li{
		width:13%;
	}
		.client-form{
		margin-top:20%;
		color:white;
		font-size:0.6em;
		margin-bottom:20%;
	}
}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  top: 0; right: 0; bottom: 0; left: 0;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
